body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("img/table.png");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
    height: 100vh;
}

h1 {
    color: goldenrod;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    border:none;
    padding: 5px;
    font-weight: bold;
    border-radius: 2px;
    margin-bottom:4px;
}